{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>여기는 지역별 맛집 리스트 입니다!</h1>

    <div class="row row-cols-1 row-cols-md-4 g-4">

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_gn' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2018/05/01/18/21/eclair-3366430_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">강남구</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_sc' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2017/03/23/19/57/asparagus-2169305_960_720.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">서초구</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_ys' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">용산구</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_sd' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">성동구</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_no' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2014/08/14/14/21/shish-kebab-417994__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">노원구</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_dj' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">동작구</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_sp' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/salmon-1238248__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">송파구</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'reviews:local_detail_jn' %}" style="text-decoration:none;" class="text-dark">
            <img src="https://cdn.pixabay.com/photo/2014/08/14/14/21/shish-kebab-417994__340.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">중랑구</h3>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>

{% endblock content %}