{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}



<div class="container">
  <h1>여기는 {{ price }} 맛집 리스트 입니다!</h1>
  <div class="row">
    {% for store in page_obj %}
    <div class="card col shadow mb-5 bg-body rounded" style="max-width:280px;">
        <a href="{% url 'reviews:store_detail' store.pk %}" class="text-dark" style='text-decoration:none;'>
          {% if store.image %}
          <img src="{{ store.image.url }}" class="card-img-top my-2" alt=""
            style="width: 250px; height: 250px; border-radius: 16px">
          {% else %}
          <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="my4-2" style="width: 250; height: 250px;">
          {% endif %}
          <div class="card-body p-1">
            <h5 class="card-title m-0">{{store.store_name}}</h5>
            <hr class="m-1">
            <div class="my-2">{{store.address}}</div>
          </div>
          <small class="d-flex justify-content-end mx-2 text-black-50">
            {{store.created_at|date:"o-m-d D"}}
          </small>
        </a>
    </div>
    {% endfor %}
  </div>
  
</div>
{% for menu in store.menu.all %}
<p>{{menu.menu_name}}</p>
{% endfor %}
{% comment %} 임시 {% endcomment %}
<div class="d-flex justify-content-center">
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>




{% endblock content %}