{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>여기는 가격별 맛집 리스트 입니다!</h1>

    <div class="row row-cols-1 row-cols-md-5 g-4">

      <div class="col">
        <div class="card  h-200">
          <a href="{% url 'reviews:price_detail_1man' %}" style="text-decoration:none" class="text-dark">
            <img src="{% static '1만원.png' %}" class="card-img-top"  alt="...">
            <div class="card-body">
              <h2 class="card-title">만원 미만</h2>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-200">
          <a href="{% url 'reviews:price_detail_2man' %}" style="text-decoration:none" class="text-dark">
            <img src="{% static '2만원.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">만원-2만원</h2>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-200">
          <a href="{% url 'reviews:price_detail_3man' %}" style="text-decoration:none" class="text-dark">
            <img src="{% static '3만원.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">2만원-3만원</h2>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-200">
          <a href="{% url 'reviews:price_detail_4man' %}" style="text-decoration:none" class="text-dark">
            <img src="{% static '4만원.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">3만원-4만원</h2>
            </div>
          </a>
        </div>
      </div>

      <div class="col">
        <div class="card h-200">
          <a href="{% url 'reviews:price_detail_4manup' %}" style="text-decoration:none" class="text-dark">
            <img src="{% static '5만원권.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">4만원 이상</h2>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>

{% endblock content %}