{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <div class="container">
    <h3>
      {% for i in review.user.profile_set.all %}
        <img src="{{ i.image.url }}" alt="" style="width: 40px; height: 40px; border-radius: 50px;">
      {% endfor %}
      <a href="{% url 'accounts:detail' review.user.pk %} " style="text-decoration:none" class="text-dark">{{ review.user.username }}</a>
    </h3>
    <p>별점 :
      {{ review.grade }}</p>
    <div class="row justify-content-between">
      <div class="">
        <p>{{review.updated_at|date:'Y-m-d a f'}}</p>
      </div>
      <form action="{% url 'reviews:review_delete' store.pk review.pk %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'reviews:review_update' store.pk review.pk %}" class="btn btn-outline-primary" method="POST">수정</a>
        <input class="btn btn-outline-danger" type="submit" value="삭제">
        <a href="{% url 'reviews:store_detail' store.pk %}" class="btn btn-outline-secondary">뒤로</a>
      </form>
    </div>
    <p class="my-3">
      내용 :
      <b>
        <pre>{{ review.content }}</pre>
      </b>
    </p>
    {% if review.image %}
      <img src="{{ review.image.url }}" alt="{{review.image}}" width="250" height="180">
    {% else %}
      <img src="" alt="">
    {% endif %}

    {% if request.user.is_authenticated %}

      <div class='my-3 inline'>
        <form id="comment-form" action="{% url 'reviews:comment_create' store.pk review.pk %}" method="POST" class="border border-5 rounded p-3">
          {% csrf_token %}
          {% bootstrap_form comment_form %}
          <div class="text-end"><input class="btn btn-primary" type="submit" value="댓글 작성"></div>
        </form>
      </div>
    {% endif %}
{% comment %} 살펴보기 {% endcomment %}
    {% for comment in comments %}
      <div class="d-flex" style="height: 3rem;">
        <div class="col-2 align-self-center fs-7">
          {% for i in comment.user.profile_set.all %}
            <img src="{{ i.image.url }}" alt="" style="width: 40px; height: 40px; border-radius: 50px;">
          {% endfor %}
          <a href="{% url 'accounts:detail' comment.user.pk %} " style="text-decoration:none" class="text-dark">{{comment.user.username}}</a>
          
        </div>
        <div class="col-10 align-self-center fs-7">
          {{comment.content}}</div>
        {% if request.user == comment.user %}
          <form action="{% url 'reviews:comment_delete' store.pk review.pk comment.pk %}" method="POST" class="align-self-center">
            {% csrf_token %}
            <input class="" type="submit" value="삭제">
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% endblock content %}