{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class="container p-5">
  <div class="row">
    <div class="col-7 fs-3">
      {{ store.store_name }} / <span class="text-warning">{{ review_ave }}</span>
      <p>
        {% if store.image %}
        <img src="{{ store.image.url }}" class="card-img-top" alt=""
          style="width: 100px; height: 100px; border-radius: 500px">
        {% else %}
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="" style="width: 100px; height: 100px;">
        {% endif %}
      </p>
    </div>
    <div class="col-5 p-0">
      <a href="{% url 'reviews:review_create' store.pk %}" class="btn btn-dark">
        리뷰 쓰기
      </a>
      <button href="" class="btn btn-warning">조회수:{{ store.hits }}</button>
    </div>
  </div>
  <div class="">{{ store.address }} </div>
  <div class="">{{ store.phone_num }} </div>
  <div class="">음식 종류 : {{ store.menu }} </div>
  {% if store.price %}
  <div class="">가격대 : {{ store.price }} </div>
  {% endif %}
  {% if store.parking %}
  <div class=""> {{ store.parking }} </div>
  {% endif %}
  {% if store.week_time %}
  <div class="">영업 시간 : {{ store.week_time }} </div>
  {% endif %}
  {% if store.weekend %}
  <div class="">휴일 : {{ store.weekend }}요일 </div>
  {% endif %}
  {% if store.last_order %}
  <div class="">마지막 주문 : {{ store.last_order }} </div>
  {% endif %}
  {% if store.website %}
  <div class="">
    <a href="{{ store.website }}">{{ store.website }}</a>
  </div>
  {% endif %}


</div>


<div class="container d-flex justify-content-between">
  <form action="{% url 'reviews:store_detail' store.pk %}" method="POST">
    {% csrf_token %}
    <button name="reset" type="submit" value="reset">
      {{store.store_name}}의 리뷰 <span class="text-secondary">({{ reviews_.all.count }})</span>
    </button>
  </form>
  <div>

  </div>
  <div>
    <div class="d-flex">
      <form id='grade-5' action="{% url 'reviews:store_detail' store.pk %}" method="POST"
        data-store-id="{{ store.pk }}">
        {% csrf_token %}
        <button name="grade-5" type="submit" value="grade-5">
          매우 맛있다 {{ review_5 }}
        </button>
      </form>
      <form action="{% url 'reviews:store_detail' store.pk %}" method="POST">
        {% csrf_token %}
        <button name="grade-4" type="submit" value="grade-4">
          맛있다 {{ review_4 }}
        </button>
      </form>
      <form action="{% url 'reviews:store_detail' store.pk %}" method="POST">
        {% csrf_token %}
        <button name="grade-3" type="submit" value="grade-3">
          괜찮다 {{ review_3 }}
        </button>
      </form>
      <form action="{% url 'reviews:store_detail' store.pk %}" method="POST">
        {% csrf_token %}
        <button name="grade-2" type="submit" value="grade-2">
          별로다 {{ review_2 }}
        </button>
      </form>
      <form action="{% url 'reviews:store_detail' store.pk %}" method="POST">
        {% csrf_token %}
        <button name="grade-1" type="submit" value="grade-1">
          너무 별로다 {{ review_1 }}
        </button>
      </form>
    </div>
  </div>
</div>
{% for review in reviews %}
<div class="container">
  {% comment %} 링크시작 {% endcomment %}
  <a href="{% url 'reviews:review_detail' store.pk review.pk %}" class="text-dark" style="text-decoration:none">
    <div id="comments" class="d-flex justify-content-between mt-3">
      <div>
        <span class="fs-5 fw-bold">
          {% for i in review.user.profile_set.all %}
          <img src="{{ i.image.url }}" alt="" style="width: 40px; height: 40px; border-radius: 50px;">
          {% endfor %}
          {{ review.user.username }}</span> {{ review.content|truncatewords:10 }}
        {% if review.comment_set.count %}({{review.comment_set.count}})
        {% endif %}
      </div>
      <div>
        {% if review.grade == 5 %}
        {{ review.grade }} 😍 매우 맛있어요
        {% elif review.grade == 4 %}
        {{ review.grade }} 😊 맛있어요
        {% elif review.grade == 3 %}
        {{ review.grade }} 😐 괜찮아요
        {% elif review.grade == 2 %}
        {{ review.grade }} 😔 별로에요
        {% elif review.grade == 1 %}
        {{ review.grade }} 🤮 토나와요
        {% endif %}
      </div>
    </div>
    <div class='d-flex justify-content-end mt-2'>
      {{ review.created_at|date:"o-m-d D"}} {{review.created_at|time:"H:i"}}
    </div>
  </a>
  {% comment %} 링크 끝 {% endcomment %}
  <hr>
</div>
{% endfor %}

{% endblock content %}