{% extends 'main.html' %}

{% load static %}

{% block text %}
  <div class="back-opacity">
    <nav class="navbar navbar-expand-lg bg-none">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'image/watcha_logo.png' %}" class="img-size"></a>
      </div>
    </nav>
    <div class="d-flex flex-column justify-content-center align-items-center article-body px-5">
      <h1 class="text-white fw-light font-size">언제 어디서나 자유롭게</h1>
      <br>
      <a href="index/">
        <button class="btn btn-danger">게시판 들어가기</button>
      </a>
    </div>
  </div>
{% endblock text %}
